body{
  background-color: rgb(189, 159, 103);
  
}
.satebayo_ava {
  width: 500px;
}
html {
 text-align: center;
}
.satebayo_twitch {
  font-size: 100px;
margin: auto;
width: 1000px;
background-color: rgb(54, 0, 104);
transition: 0.3s ease;
}
.satebayo_nick {
  font-size: 40px;
  font-weight: bolder;
}
.satebayo_bio {
font-size: 30px;
font-weight: bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sigma {
  width: 500px;
}
.monki {
  width: 500px;
}
#hah {
  width: 312px;
}
.satebayo_matches {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
.banana {
  width: 1000px;
}
.morph {
  width: 500px;
}
.voker {
  width: 500px;
}
.satebayo_twitch:hover {
  transform: scale(1.5);
  transition-duration: 0.5s;
  background-color: rgb(132, 0, 255);
  font-size: 100px;
  color: white;
  border-radius: 200px;
}
.twitch:hover {
  transition: 0.5s;
  color: white;
  transition: 0.3s ease;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
#background-video {
  position: fixed; 
  right: 0;
  bottom: -800px;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; 
}
#dota_clip {
width: 100%;
}
.haha {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.end { 
  font-size: 70px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}
.donate {
  color: white;
  background-color: rgb(122, 80, 0);
  font-size: 100px;
  margin: auto;
  font-weight: bolder;
  font-family:Arial, Helvetica, sans-serif;
  display: inline-block;
  width:30%;
  transition: 0.3s ease;
 margin-top: 25px;
}
.donate:hover {
  transform: scale(1.5);
  transition-duration: 0.5s;
  background-color: orange;
  font-size: 100px;
  color: white;
  border-radius: 200px;
}